:host {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
  }
}
