@use "../../../../styles/mixins/text" as text;
@use "../../../../styles/variables/colors" as colors;
@use "../../../../styles/variables/typography" as typography;
@use "../../../../styles/variables/misc" as misc;

.toast {
  max-height: 32px;
  display: flex;
  // inline-size: 18rem;
  align-items: center;
  gap: 12px;
  padding-block: 4px;
  padding-inline: 4px 10px;
  border-radius: 2000px;

  font-weight: typography.$font-weight-semibold;
  @include text.text-base-14;

  &-success {
    background-color: colors.$status-success-subtle;
  }

  &-failure {
    background-color: colors.$status-error-subtle;
  }
}

.toast-header {
  display: block;
  text-align: center;
  box-shadow: misc.$drop-shadow;
  background-color: colors.$background-primary;
  border-radius: 9999px;
  padding-inline: 10px;
  padding-block: 2px;

  &-success {
    color: colors.$icon-success;
  }

  &-failure {
    color: colors.$status-error-emphasize;
  }
}

.toast-body {
  &-success {
    color: colors.$icon-success;
  }

  &-failure {
    color: colors.$status-error;
  }
}
