<app-backend-error />
<button appButton type="primary" size="sm" [disabled]="true">
  disabled primary button
</button>
<button appButton type="secondary" size="sm" [disabled]="true">
  disabled secondary button
</button>
<button appButton type="primary" size="sm">dummy button</button>
<button appButton type="secondary" size="md">dummy button</button>
<button appButton size="lg">dummy button</button>
<button appButton type="secondary" size="xl">dummy button</button>
<button appButton size="2xl">dummy button</button>
