@if (loadingStatus() === "loading") {
  <p>Loading Notification Settings...</p>
} @else if (loadingStatus() === "error") {
  <app-backend-error />
} @else {
  <div class="notification-settings">
    <div class="notification-settings-header">
      <h1 class="notification-settings-header-heading">
        Manage Your Notifications
      </h1>
      <p class="notification-settings-header-description">
        Choose how you want to be notified about the latest updates and
        messages.
      </p>
    </div>
    <form
      class="notification-settings-form"
      [formGroup]="notificationSettingsForm"
      (ngSubmit)="onSubmit()"
    >
      <table
        class="notification-settings-form-table"
        aria-label="notification-settings"
      >
        <thead class="notification-settings-form-table-header">
          <tr>
            <th id="notification-name">
              <span class="visually-hidden">notification type</span>
            </th>
            @for (
              notificationType of loadedNotificationTypes();
              track notificationType
            ) {
              <th [id]="notificationType">{{ notificationType }}</th>
            }
          </tr>
        </thead>
        <tbody class="notification-settings-form-table-body">
          <tr>
            <td headers="notification-name">Marketing & promotional content</td>
            @for (
              data of loadedNotificationSettings()[
                "marketingAndPromotionalContent"
              ];
              track data.id
            ) {
              <td [headers]="data.type">
                <app-toggle
                  [id]="data.id"
                  size="sm"
                  labelActiveText="on"
                  labelDeactiveText="off"
                  [isLabelHidden]="true"
                  [isToggled]="
                    notificationSettingsForm
                      .get('marketingAndPromotionalContent')!
                      .get(data.type.toLowerCase())!.value
                  "
                  [isDisabled]="false"
                  (onToggle)="
                    updateSettings(
                      'marketingAndPromotionalContent',
                      data.type.toLowerCase()
                    )
                  "
                />
              </td>
            }
          </tr>
          <tr>
            <td headers="notification-name">Feature updates</td>
            @for (
              data of loadedNotificationSettings()["featureUpdates"];
              track data.id
            ) {
              <td [headers]="data.type">
                <app-toggle
                  [id]="data.id"
                  size="sm"
                  labelActiveText="on"
                  labelDeactiveText="off"
                  [isLabelHidden]="true"
                  [isToggled]="
                    notificationSettingsForm
                      .get('featureUpdates')!
                      .get(data.type.toLowerCase())!.value
                  "
                  [isDisabled]="false"
                  (onToggle)="
                    updateSettings('featureUpdates', data.type.toLowerCase())
                  "
                />
              </td>
            }
          </tr>
          <tr>
            <td headers="notification-name">Comments</td>
            @for (
              data of loadedNotificationSettings()["comments"];
              track data.id
            ) {
              <td [headers]="data.type">
                <app-toggle
                  [id]="data.id"
                  size="sm"
                  labelActiveText="on"
                  labelDeactiveText="off"
                  [isLabelHidden]="true"
                  [isToggled]="
                    notificationSettingsForm
                      .get('comments')!
                      .get(data.type.toLowerCase())!.value
                  "
                  [isDisabled]="false"
                  (onToggle)="
                    updateSettings('comments', data.type.toLowerCase())
                  "
                />
              </td>
            }
          </tr>
          <tr>
            <td headers="notification-name">Updates from friends</td>
            @for (
              data of loadedNotificationSettings()["updatesFromFriends"];
              track data.id
            ) {
              <td [headers]="data.type">
                <app-toggle
                  [id]="data.id"
                  size="sm"
                  labelActiveText="on"
                  labelDeactiveText="off"
                  [isLabelHidden]="true"
                  [isToggled]="
                    notificationSettingsForm
                      .get('updatesFromFriends')!
                      .get(data.type.toLowerCase())!.value
                  "
                  [isDisabled]="false"
                  (onToggle)="
                    updateSettings(
                      'updatesFromFriends',
                      data.type.toLowerCase()
                    )
                  "
                />
              </td>
            }
          </tr>
          <tr>
            <td headers="notification-name">Friends requests</td>
            @for (
              data of loadedNotificationSettings()["friendsRequests"];
              track data.id
            ) {
              <td [headers]="data.type">
                <app-toggle
                  [id]="data.id"
                  size="sm"
                  labelActiveText="on"
                  labelDeactiveText="off"
                  [isLabelHidden]="true"
                  [isToggled]="
                    notificationSettingsForm
                      .get('friendsRequests')!
                      .get(data.type.toLowerCase())!.value
                  "
                  [isDisabled]="false"
                  (onToggle)="
                    updateSettings('friendsRequests', data.type.toLowerCase())
                  "
                />
              </td>
            }
          </tr>
        </tbody>
      </table>
      <div class="notification-settings-footer">
        <button
          appButton
          type="submit"
          buttonType="primary"
          size="xl"
          [disabled]="!this.notificationSettingsForm.dirty"
        >
          Save changes
        </button>
      </div>
    </form>

    @if (formStatus() === "success") {
      <app-toast
        type="success"
        title="Success"
        message="Changes saved successfully!"
      />
    } @else if (formStatus() === "error") {
      <app-toast
        type="failure"
        title="Error"
        message="Unexpected error. Please try again later or contact support."
      />
    }
  </div>
}
