@use "../../../../../styles/mixins/text" as text;
@use "../../../../../styles/variables/colors" as colors;

.backend-error {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  &-body {
    text-align: center;
    inline-size: 17rem;

    &-title {
      font-weight: 600;
      margin-block: 20px 8px;
      @include text.text-base-20;
    }

    .backend-error-body-message {
      margin: 0;

      a {
        color: colors.$brand-primary-emphasize;
        text-decoration: none;
      }
    }
  }
}
