<app-toggle
  id="test-toggle"
  labelActiveText="on"
  labelDeactiveText="off"
  [isLabelHidden]="false"
  [defaultToggled]="true"
  [isDisabled]="false"
  size="sm"
  (onActiveToggle)="onActiveToggle()"
  (onDeactiveToggle)="onDeactiveToggle()"
/>

<app-toggle
  id="test-toggle-2"
  labelActiveText="on"
  labelDeactiveText="off"
  [isLabelHidden]="true"
  [defaultToggled]="true"
  [isDisabled]="false"
  size="md"
  (onActiveToggle)="onActiveToggle()"
  (onDeactiveToggle)="onDeactiveToggle()"
/>
