<!-- <app-page-layout>
  <app-grid>
    <app-grid-item [colMobile]="4" [colTablet]="6" [colDesktop]="12">
      <app-toast
        type="success"
        title="Success"
        message="Changes saved successfully"
      />
    </app-grid-item>
    <app-grid-item [colMobile]="4" [colTablet]="6" [colDesktop]="12">
      <app-toast
        type="failure"
        title="Error"
        message="Unexcepted error. Please try again later or contact support."
      />
    </app-grid-item>
  </app-grid>
</app-page-layout> -->

<main>
  <router-outlet />
</main>
