// font weights
$font-weight-normal: 400; // body
$font-weight-md: 500; // buttons, labels, links, interactive elements
$font-weight-semibold: 600; // headings

// font sizes and line heights
$font-size-xs: 0.75rem;
$font-line-height-xs: 1rem;

$font-size-sm: 0.875rem;
$font-line-height-sm: 1.25rem;

$font-size-md: 1rem;
$font-line-height-md: 1.5rem;

$font-size-lg: 1.125rem;
$font-line-height-lg: 1.75rem;

$font-size-xl: 1.25rem;
$font-line-height-xl: 1.75rem;

$font-size-2xl: 1.5rem;
$font-line-height-2xl: 2rem;

$font-size-3xl: 1.875rem;
$font-line-height-3xl: 2.25rem;

$font-size-4xl: 2.25rem;
$font-line-height-4xl: 2.5rem;

$font-size-5xl: 3rem;
$font-line-height-5xl: 3rem;

$font-size-6xl: 3.75rem;
$font-line-height-6xl: 3.75rem;
